@import url('../../Styles/StaticComponents/Global.css');
.drugs-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.drugs-header{
    width: 90%;
    height: 60px;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    direction: rtl;
    border-radius: 5px;
    margin-bottom: 20px;
}
.btn{
    width: 120px;
    height: 40px;
    padding: 10px;
    color: var(--color-fourth);
    background-color: var(--color-second);
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.btn-print{
    background-color: var(--color-lightRed);
}
.btn-save{
    background-color: var(--color-first);
}
/* drugs content */
.drugs-content{
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 5px;
}