@import url("../../Styles/StaticComponents/Global.css");
.drugs-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.drugs-header {
  width: 90%;
  height: 60px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  direction: rtl;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.select-search {
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  color: #555;
  height: 30px;
}

/* drugs content */
.drugs-content {
  width: 90%;
  height: 65vh;
  margin: 0 auto;
  /* background-color: #ddd; */
  overflow-y: scroll;
}
/* drugs table */
table {
  direction: rtl;
  width: 100%;
  border: 1px solid #aaa;
  border-collapse: collapse;
  overflow-y: scroll;
}
tr {
  text-align: center;
}
thead tr {
  background-color: #bbb;
}
thead tr th {
  border: 1px solid black;
  padding: 5px;
}
tbody tr:nth-child(even) {
  background-color: #ddd;
}
tbody tr td {
  padding: 5px;
  border: 1px solid #aaa;
}
tbody tr:hover {
  cursor: pointer;
  background-color: #bbb;
}
tfoot tr td {
  padding: 5px;
}
tfoot tr td:last-child {
  background-color: var(--color-orange);
  border: 1px solid #aaa;
  font-size: 20px;
}
.drug-code {
  width: 5%;
}
.drug-type,
.drug-company,
.drug-contery,
.drug-cost,
.drug-count,
.drug-total {
  width: 10%;
}
.drug-name {
  width: 15%;
}
.drug-action {
  width: 15%;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addDrug-content {
  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  background-color: var(--color-fourth);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  border-radius: 10px;
}
.addDrug-header,
.addDrug-footer {
  width: 100%;
  height: 40px;
  background-color: var(--color-mashi);
}
.addDrug-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.addDrug-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.addDrug-header span {
  font-weight: 500;
  color: #fff;
  font-weight: bold;
}
/* this is temporary logo design */
.addDrug-header img {
  width: 16px;
  height: 16px;
}
