@import url('../../Styles/StaticComponents/Global.css');
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 225px;
    background-color: var(--color-third);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 2px 2px 10px 0px var(--color-black);
}
.card img{
    width: 64px;
    height: 64px;
}
.card span{
    font-size: 20px;
    font-weight: 500;
}