@import url('../../Styles/StaticComponents/Global.css');
.drop-btn{
    width: 100%;
    padding:18px 0;
    color: var(--color-black);
    background-color: #1DC690;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.drop-btn:hover{
    opacity: 0.8;
}
.dropdown-content{
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.display{
    display: flex;
    /* flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}
.dropdown-content a{
    color: var(--color-black);
    font-size: 18px;
    font-weight: 500;

}