*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
}
:root{
    --color-first: #1DC690;
    --color-second:#278AB0;
    --color-third:#1C4670;
    --color-fourth:#EAEAE0;
    --color-white:#fff;
    --color-black:#000;
}