.sideBar-container{
    width: 15%;
    min-height: calc(100vh - 80px);
    float: right;
    direction: rtl;
    background-color: #da6464;
}
.dropdown-content a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    width: 100%;
    padding:5px 10px;
}
.dropdown-content a:hover{
    background-color: #bbb;
}