@import url('../../Styles/StaticComponents/Global.css');
.users-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.users-header{
    width: 90%;
    height: 60px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    direction: rtl;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* users content */
.users-content{
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    /* background-color: #ddd; */
    overflow-y: scroll;
}
/* users content */
.users-content{
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    /* background-color: #ddd; */
    overflow-y: scroll;
}
/* users table */
table{
    direction: rtl;
    width: 100%;
    border: 1px solid #aaa;
    border-collapse: collapse;
    overflow-y: scroll;
}
tr{
    text-align: center;
}
thead tr{
    background-color: #bbb;
}
thead tr th{
    border: 1px solid black;
    padding: 5px;
}
tbody tr:nth-child(even){
    background-color: #ddd;
}
tbody tr td{
    padding: 5px;
    border: 1px solid #aaa;
}
tbody tr:hover{
    cursor: pointer;
    background-color: #bbb;
}
tfoot tr td{
    padding: 5px;
}
tfoot tr td:last-child{
    background-color: var(--color-orange);
    border: 1px solid #aaa;
    font-size: 20px;
}
.user-code{
    width: 5%;
}
.user-name,
.user-userName,
.user-password,
.user-type{
    width: 20%;
}
.user-action{
    width:15%;  
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}