@import url("../../Styles/StaticComponents/Global.css");
.havala-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.hawala-header {
  width: 95%;
  height: 60px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  direction: rtl;
  border-radius: 5px;
  margin-bottom: 20px;
}

.havala-select-search {
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  height: 30px;
  background-color: var(--color-fourth);
}

/* drugs content */
.havala-content {
  width: 95%;
  /* height: 65vh; */
  margin: 0 auto;
  /* background-color: #ddd; */
  overflow-y: scroll;
}
/* drugs table */
.home-table {
  /* height: 45vh; */
  direction: rtl;
  width: 100%;
  border: 1px solid #aaa;
  border-collapse: collapse;
  overflow-y: scroll;
}
tr {
  text-align: center;
}
thead tr {
  background-color: #bbb;
}
thead tr th {
  padding: 5px;
}
tbody tr:nth-child(even) {
  background-color: #ddd;
}
tbody tr td {
  padding: 5px;
  border: 1px solid #aaa;
}

tfoot tr td {
  padding: 5px;
}
tfoot tr td:last-child {
  background-color: var(--color-orange);
  border: 1px solid #aaa;
  font-size: 20px;
}

.home-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addCardToCard-content {
  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  height: 550px;
  margin: 0 auto;
  background-color: var(--color-fourth);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  border-radius: 10px;
}

.addCardToCard-header {
  width: 100%;
  height: 50px;
  background-color: var(--color-mashi);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.addCardToCard-header span {
  font-weight: 500;
  color: #fff;
  font-weight: bold;
}
/* this is temporary logo design */
.addCardToCard-header :nth-child(3) {
  width: 24px;
  height: 24px;
}
.addCardToCard-header :nth-child(1) {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.addCardToCard-header img:hover {
  cursor: pointer;
}
.addCardToCard-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #ccc;
}
.addCardToCard-body-input {
  width: 80%;
  height: 30px;
  text-align: right;
  padding-right: 10px;
}
.addCardToCard-body-button {
  width: 25%;
  height: 35px;
  color: #333;
  font-size: 16px;
}

.addNormalHavala-content {
  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  height: 550px;
  margin: 0 auto;
  background-color: var(--color-fourth);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  border-radius: 10px;
}

.addNormalHavala-header {
  width: 100%;
  height: 50px;
  background-color: var(--color-mashi);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.addNormalHavala-header span {
  font-weight: 500;
  color: #fff;
  font-weight: bold;
}
/* this is temporary logo design */
.addNormalHavala-header :nth-child(3) {
  width: 24px;
  height: 24px;
}
.addNormalHavala-header :nth-child(1) {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.addNormalHavala-header img:hover {
  cursor: pointer;
}
.addNormalHavala-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #ccc;
}
.addNormalHavala-body-input {
  width: 80%;
  height: 30px;
  text-align: right;
  padding-right: 10px;
}
.addNormalHavala-body-button {
  width: 25%;
  height: 35px;
  color: #333;
  font-size: 16px;
}
.home-footer {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-footer-backward,
.home-footer-forward {
  width: 40px;
  height: 30px;
  font-size: 25px;
  color: #555;
  margin-right: 5px;
  margin-left: 5px;
}
.add-havala {
  width: 100px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency-type {
  text-align: right;
  direction: rtl;
}
