@import url('../../Styles/StaticComponents/Global.css');
.roznamcha-header{
    width: 90%;
    height: 60px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    direction: rtl;
    border-radius: 5px;
    margin-bottom: 20px;
}
.roznamcha-content{
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    overflow-y: scroll;
}
/* roznamchas table */
table{
    direction: rtl;
    width: 100%;
    border: 1px solid #aaa;
    border-collapse: collapse;
    overflow-y: scroll;
}
tr{
    text-align: center;
}
thead tr{
    background-color: #bbb;
}
thead tr th{
    border: 1px solid black;
    padding: 5px;
}
tbody tr:nth-child(even){
    background-color: #ddd;
}
tbody tr td{
    padding: 5px;
    border: 1px solid #aaa;
}
tbody tr:hover{
    cursor: pointer;
    background-color: #bbb;
}
tfoot tr td{
    padding: 5px;
}
tfoot tr td:last-child{
    background-color: var(--color-orange);
    border: 1px solid #aaa;
    font-size: 20px;
}
.roznamcha-code{
    width: 10%;
}
.roznamcha-number,
.roznamcha-type,
.roznamcha-cost,
.roznamcha-date,
.roznamcha-name{
    width: 15%;
}
