@import url("../../Styles/StaticComponents/Global.css");
.safe-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.safe-header {
  width: 90%;
  height: 120px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  direction: rtl;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.safe-search {
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  color: #555;
  height: 30px;
}

/* safe content */
.safe-content {
  width: 90%;
  /* height: 65vh; */
  margin: 0 auto;
  /* background-color: #ddd; */
  overflow-y: scroll;
  height: 400px;
}
/* safe table */
table {
  direction: rtl;
  width: 100%;
  border: 1px solid #aaa;
  border-collapse: collapse;
  overflow-y: scroll;
}
tr {
  text-align: center;
}
thead tr {
  background-color: #bbb;
}
thead tr th {
  border: 1px solid black;
  padding: 5px;
}
tbody tr:nth-child(even) {
  background-color: #ddd;
}
tbody tr td {
  padding: 5px;
  border: 1px solid #aaa;
}

tfoot tr td {
  padding: 5px;
}
tfoot tr td:last-child {
  background-color: var(--color-orange);
  border: 1px solid #aaa;
  font-size: 20px;
}
.drug-code {
  width: 5%;
}
.drug-type,
.drug-company,
.drug-contery,
.drug-cost,
.drug-count,
.drug-total {
  width: 10%;
}
.drug-name {
  width: 15%;
}
.drug-action {
  width: 15%;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tarafhesab-container,
.profit-container {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.safe-select-boxes {
  height: 35px;
  width: 150px;
  border-radius: 5px;
  background-color: var(--color-fourth);
}

.money-safe {
  width: 150px;
  height: 120px;
  border: 2px solid var(--color-mashi);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-fourth);
}
.money-safe-label {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-mashi);
}
.money-safe-value {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-mashi);
  padding-top: 10px;
}
.safe-footer {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safe-footer-backward,
.safe-footer-forward {
  width: 40px;
  height: 30px;
  font-size: 25px;
  color: #555;
  margin-right: 5px;
  margin-left: 5px;
}
.safe-secure-image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
