@import url("../../Styles/StaticComponents/Global.css");
.drugs-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.drugs-header {
  width: 90%;
  height: 120px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  direction: rtl;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.select-search {
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  color: #555;
  height: 30px;
}

/* drugs content */
.safe-content {
  width: 90%;
  /* height: 65vh; */
  margin: 0 auto;
  /* background-color: #ddd; */
  overflow-y: scroll;
}
/* drugs table */
table {
  direction: rtl;
  width: 100%;
  border: 1px solid #aaa;
  border-collapse: collapse;
  overflow-y: scroll;
}
tr {
  text-align: center;
}
thead tr {
  background-color: #bbb;
}
thead tr th {
  border: 1px solid black;
  padding: 5px;
}
tbody tr:nth-child(even) {
  background-color: #ddd;
}
tbody tr td {
  padding: 5px;
  border: 1px solid #aaa;
}

tfoot tr td {
  padding: 5px;
}
tfoot tr td:last-child {
  background-color: var(--color-orange);
  border: 1px solid #aaa;
  font-size: 20px;
}
.drug-code {
  width: 5%;
}
.drug-type,
.drug-company,
.drug-contery,
.drug-cost,
.drug-count,
.drug-total {
  width: 10%;
}
.drug-name {
  width: 15%;
}
.drug-action {
  width: 15%;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.safe-select-box {
  height: 35px;
  width: 75%;
  background-color: #ddd;
}

.safe-footer {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safe-footer-backward,
.safe-footer-forward {
  width: 40px;
  height: 30px;
  font-size: 25px;
  color: #555;
  margin-right: 5px;
  margin-left: 5px;
}

.about-container {
  width: 80%;
  min-height: 550px;
  border: 5px solid #aaa;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.about-card {
  width: 40%;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about-card-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.about-card-fullname {
  color: #555;
  font-size: 25px;
  font-weight: bold;
}
.about-card-description {
  color: #555;
}
.about-social-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-card-footer {
  min-height: 150px;
  width: 100%;
  border-top: 3px solid #aaa;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.about-card-footer-skill {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.about-text {
  width: 50%;
  height: 450px;
  border-radius: 10px;
  text-align: right;
  padding: 10px;
  font-size: 18px;
  color: #555;
  line-height: 25px;
  border-right: 2px solid #aaa;
}
